@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --azul-hover: #4595f7;
    --cinza-hover: #adabab44;

    --fonte-principal: "Inter", serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 4px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--azul-hover);
}

.botao__secundario {
    background-color: transparent;
    border: solid 1px var(--cinza-secundario);
    color: var(--cinza-secundario);
}

.botao__secundario:hover {
    background-color: var(--cinza-hover);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}